<!-- Add Data -->
<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field appearance="standard" hintLabel="Max 20 characters">
      <mat-label>Name of Company *</mat-label>
      <input matInput #input maxlength="20" placeholder="Company Name" name="companyName" ngModel>
      <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard" hintLabel="Max 100 characters">
      <mat-label>Position Location</mat-label>
      <input matInput #input maxlength="20" placeholder="Address" name="location" ngModel>
      <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Salary</mat-label>
      <input matInput placeholder="Amount" type="number" class="example-right-align" name="salary" ngModel>
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <button type="submit" class="btn btn-success" (click)="openSnackBar(f, 'Enter Company Name', 'Alright')">Add</button>
  </form>
</div>

<!-- Delete Button -->
<button type="button" name="delete" (click)="deleteUsers()">Delete</button>

<!-- Filter Data -->
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>


<!-- Table -->
<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="padding-right: 1%">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="padding-right: 1%">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
      <mat-cell *matCellDef="let row">
				<mat-form-field appearance="outline">
					<input matInput placeholder="Company Name" [value]="row.companyName" [(ngModel)]="row.companyName">
          <mat-icon matSuffix>edit</mat-icon>
				</mat-form-field>
			</mat-cell>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
      <mat-cell *matCellDef="let row">
				<mat-form-field appearance="outline">
					<input matInput placeholder="Location" [value]="row.location" [(ngModel)]="row.location">
          <mat-icon matSuffix>edit</mat-icon>
				</mat-form-field>
			</mat-cell>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
      <mat-cell *matCellDef="let row">
				<mat-form-field appearance="outline">
					<input matInput placeholder="Salary" [value]="row.salary" [(ngModel)]="row.salary">
          <mat-icon matSuffix>edit</mat-icon>
				</mat-form-field>
			</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (keyup.enter)="save(row)" (click)="selection.toggle(row)">
    </mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
