.mat-form-field {
  padding-right: 15px;
}

.mat-row,
.mat-header-row {
  min-width: 3000px;
  width: 100%;
  width: max-content;
}

.mat-table {
  overflow: scroll;
  max-height: 500px;
}

.mat-cell,
.mat-header-cell {
  min-width: 90px;
}

/*unnecessary to make table header fixed*/
.mat-header-row {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
  text-align: center;
  background-color: #EBEAEA;
}

/* zebra table */
.mat-row:nth-child(odd) {
  background-color: #F7F3F3;
}

.mat-header-cell {
  font-size: 18px;
}

.filter{
  padding-left: 10px;
}
