<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup" [optional]="notOptional">
    <form [formGroup]="firstFormGroup" #formOne="ngForm">
      <ng-template matStepLabel>Company Name</ng-template>
      <mat-form-field appearance="standard" hintLabel="Max 20 characters">
        <input matInput #input maxlength="20" placeholder="Company Name" formControlName="companyName" name="companyName" required>
        <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <form [formGroup]="secondFormGroup" #formTwo="ngForm">
      <ng-template matStepLabel>Position Title</ng-template>
      <mat-form-field>
        <input matInput #input1 maxlength="30" placeholder="Position Title" formControlName="positionTitle" name="positionTitle">
        <mat-hint align="end">{{input1.value?.length || 0}}/30</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-form-field appearance="standard" hintLabel="Max 100 characters">
    <mat-label>Position Location</mat-label>
    <input matInput #input2 maxlength="100" placeholder="Address" name="location" ngModel>
    <mat-hint align="end">{{input2.value?.length || 0}}/100</mat-hint>
  </mat-form-field>

  <mat-step [stepControl]="thirdFormGroup" [optional]="notOptional">
    <form [formGroup]="thirdFormGroup" #formThree="ngForm">
      <ng-template matStepLabel>Job Location</ng-template>
      <mat-form-field>
        <input matInput #input3 maxlength="100" placeholder="Address" formControlName="location" name="location">
        <mat-hint align="end">{{input3.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" [optional]="isOptional">
    <form [formGroup]="fourthFormGroup" #formFour="ngForm">
      <ng-template matStepLabel>Tenure Length (Month(s))</ng-template>
      <mat-form-field>
        <input matInput placeholder="Tenure" type="number" formControlName="jobTenure" name="jobTenure" value="12" min="1">
        <span matSuffix> month(s)</span>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fifthFormGroup" [optional]="notOptional">
    <form [formGroup]="fifthFormGroup" #formFive="ngForm">
      <ng-template matStepLabel>Salary (Month)</ng-template>
      <mat-form-field>
        <input matInput placeholder="Salary" type="number" formControlName="salary" name="salary" min="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00 / month</span>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="sixthFormGroup" [optional]="isOptional">
    <form [formGroup]="sixthFormGroup" #formSix="ngForm">
      <ng-template matStepLabel>Signing Bonus</ng-template>
      <mat-form-field>
        <input matInput placeholder="Signing Bonus" type="number" formControlName="signingBonus" name="signingBonus" min="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="seventhFormGroup" [optional]="isOptional">
    <form [formGroup]="seventhFormGroup" #formSeven="ngForm">
      <ng-template matStepLabel>Tax</ng-template>
      <mat-form-field>
        <input matInput placeholder="Tax" type="number" formControlName="tax" name="tax" min="0">
        <span matSuffix>%</span>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="eighthFormGroup" [optional]="isOptional">
    <form [formGroup]="eighthFormGroup" #formEight="ngForm">
      <ng-template matStepLabel>Living Cost (Monthly)</ng-template>
      <mat-form-field>
        <input matInput placeholder="Living Cost (Monthly)" type="number" formControlName="livingCost" name="livingCost" min="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="ninthFormGroup" [optional]="isOptional">
    <form [formGroup]="ninthFormGroup" #formNine="ngForm">
      <ng-template matStepLabel>Prestige (1 - 10)</ng-template>
      <mat-form-field>
        <input matInput placeholder="Prestige (1 - 10)" type="number" formControlName="prestige" name="prestige" min="1" max="10">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="tenthFormGroup" [optional]="isOptional">
    <form [formGroup]="tenthFormGroup" #formTen="ngForm">
      <ng-template matStepLabel>Happiness (1 - 10)</ng-template>
      <mat-form-field>
        <input matInput placeholder="Happiness (1 - 10)" type="number" formControlName="happiness" name="happiness" min="1" max="10">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="eleventhFormGroup" [optional]="isOptional">
    <form [formGroup]="eleventhFormGroup" #formEleven="ngForm">
      <ng-template matStepLabel>Notes</ng-template>
      <mat-form-field>
        <textarea matInput #input4 maxlength="1000" placeholder="Notes" formControlName="notes" name="notes"></textarea>
        <mat-hint align="end">{{input4.value?.length || 0}}/1000</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button type="submit" class="btn btn-success" (click)="onSubmit([formOne, formTwo, formThree, formFour, formFive, formSix, formSeven, formEight, formNine, formTen, formEleven]);stepper.reset()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
