<mat-tab-group>
  <mat-tab label="All Data">
    <ng-template matTabContent>
      <app-all-data-chart></app-all-data-chart>
    </ng-template>
  </mat-tab>
  <mat-tab label="Total Earning (Monthly)">
    <ng-template matTabContent>
      <app-total-earning></app-total-earning>
    </ng-template>
  </mat-tab>
  <mat-tab label="Take Home Earning (Monthly)">
    <ng-template matTabContent>
      <app-take-home-earning></app-take-home-earning>
    </ng-template>
  </mat-tab>
  <mat-tab label="Overall Earning (Monthly)">
    <ng-template matTabContent>
      <app-overall-earning></app-overall-earning>
    </ng-template>
  </mat-tab>
</mat-tab-group>
