<mat-tab-group>
  <mat-tab label="All Data">
    <ng-template matTabContent>
      <p>Uses all Data</p>
      <div *ngIf="auth.user | async as user">
        <app-all-data-chart [user]="user"></app-all-data-chart>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Total Earning (Monthly)">
    <ng-template matTabContent>
      <p>Uses Salary and Signing Bonus</p>
      <div *ngIf="auth.user | async as user">
        <app-total-earning [user]="user"></app-total-earning>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Take Home Earning (Monthly)">
    <ng-template matTabContent>
      <p>Uses Salary, Signing Bonus, Living Cost and Tax</p>
      <div *ngIf="auth.user | async as user">
        <app-take-home-earning [user]="user"></app-take-home-earning>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Overall Earning (Monthly)">
    <ng-template matTabContent>
      <p>Uses Salary, Signing Bonus, Living Cost, Tax, Prestige and Happiness</p>
      <div *ngIf="auth.user | async as user">
        <app-overall-earning [user]="user"></app-overall-earning>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
