<mat-tab-group>
  <mat-tab label="All Data">
    <ng-template matTabContent>
      The First Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Total Earning">
    <ng-template matTabContent>
      The Second Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Take Home Earning">
    <ng-template matTabContent>
      The Third Content
    </ng-template>
  </mat-tab>
  <mat-tab label="Overall Earning">
    <ng-template matTabContent>
      The Fourth Content
    </ng-template>
  </mat-tab>
</mat-tab-group>
